#header{
	background-color: black;
	height: auto;
	width: 1366px;
	margin: -16px -8px;
}
li{
	color: white;
	display: inline-block;
	padding: 20px;
}
#header a{
	color: white;
	text-decoration: none;
}

#search{
	border-radius: 7px;
    background: white url(http://linkurystoragenorthus.blob.core.windows.net/static/favicon.ico) right no-repeat;
    padding-right: 17px;

}

.slider{
	height: 320px;
	width: 1024px;
	overflow: hidden;
	margin:70px auto;
}
.slider img{
	width: 1024px;
	height: 320px;
	display: none;
}
body{background-color: #8A2BE2;}
.box{ width: 1024px; background-color: white; margin-left: auto; margin-right: auto;}
 .span1{font-size: 27px; font-weight: bold; margin-left: 25px; font-family: Matterhorn, Helvetica, sans-serif;}
 .span2{font-size: 18px; margin-left: 25px; color: gray; font-family: Matterhorn, Helvetica, sans-serif;}

#game1, #game2, #adv {display:inline-block;}
#game1{margin-left: 20px;}
#game2{margin-left: 25px; width: 300px; height: 349px;}

.pgame{font-size: 16px;font-family: Matterhorn, Helvetica, sans-serif;}
#pgameadv {color: gray; text-align: right; font-family: Matterhorn, Helvetica, sans-serif;margin-left: 20px;
width: 300px; height: 349px;}
 a {text-decoration: none;}
 .para {color: gray;font-family: Matterhorn, Helvetica, sans-serif;}


.tableimgsrow1 .cartoon1, .tableimgsrow2 .cartoon1 {position: relative; width: 188px; height: 247px; display: inline-block; border-radius: 30px;}

.tableimgsrow1 #r1c1 {position: absolute; 
   top: 1346px; 
   left:288px; 
   width: 100%; 
   font-family: Matterhorn, Helvetica, sans-serif;
}

#r1c2 {position: absolute; 
   top: 1346px; 
   left:527px; 
   width: 100%; 
   font-family: Matterhorn, Helvetica, sans-serif;
}

#r1c3 {position: absolute; 
   top: 1346px; 
   left:758px; 
   width: 100%; 
   font-family: Matterhorn, Helvetica, sans-serif;
}

#r1c4 {position: absolute; 
   top: 1346px; 
   left:988px; 
   width: 100%; 
   font-family: Matterhorn, Helvetica, sans-serif;
}

.tableimgsrow2 #r2c1 {position: absolute; 
   top:1653px; 
   left:288px; 
   width: 100%; 
   font-family: Matterhorn, Helvetica, sans-serif;
}

 #r2c2{position: absolute; 
   top: 1653px; 
   left:527px; 
   width: 100%; 
   font-family: Matterhorn, Helvetica, sans-serif;}


   #r2c3 {position: absolute; 
   top: 1653px; 
   left:758px; 
   width: 100%; 
   font-family: Matterhorn, Helvetica, sans-serif;
}

#r2c4 {position: absolute; 
   top:1653px; 
   left:988px; 
   width: 100%; 
   font-family: Matterhorn, Helvetica, sans-serif;
}

.tableimgs .cartoon1:hover { -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg);}

   .tableimgs .cartoon1 {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
  
 }